click
Flask
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
opencv-python-headless
python-multipart
Pillow
pytesseract
python-dotenv
six
typing-extensions
gunicorn
python-dateutil
pytz
retrying
threadpoolctl
Werkzeug
protobuf
